project.properties
project.properties
gen/com/app/tomore/R.java
project.properties
project.properties
gen/com/app/tomore/R.java
*.properties
gen/com/app/tomore/R.java
project.properties
project.properties